body {
    font-family: sans-serif;
}
.container1 {
    min-width: 1250px;
    min-height: 200px;
    background-color: aqua;
}
.row1 {
    display: flex;
    flex-wrap: wrap;
}
.seg1 {
    min-width: 25%;
    min-height: auto;
    background-color: blue;
}